<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Cor</th>
      <th scope="col">Tamanho</th>
      <th scope="col">Quantidade disponível</th>
    </tr>
  </thead>
  <tbody>
    <% for item in @products %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.description %></td>
        <td><%= item.color.name %></td>
        <td><%= item.size.name %></td>
        <td><span class="badge badge-primary badge-pill"><%= item.prod_count %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>